body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('babytron2.gif') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bio-container {
    text-align: center;
    color: white;
}

.profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px black;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
}

.name h1 {
    font-size: 4rem;
    text-transform: uppercase;
    margin: 20px 0;
    text-shadow: 0 0 15px white, 0 0 30px white;
    animation: glowing 1.5s ease-in-out infinite;
}

.greeting p {
    font-size: 1.5rem;
    margin: 10px 0;
    opacity: 0.8;
}

@keyframes glowing {
    0% { text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff; }
    50% { text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff; }
    100% { text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff; }
}
